<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div class="uk-position-relative">
      <img src="https://d3q33rbmdkxzj.cloudfront.net/1589466137456_aFz3CE.pn g" alt="" />
      <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li><a href="homepage.html">Home</a></li>
              <li class = "uk-active"><a href="about.html">About</a></li>
              <li>
                <a href="st">Stories</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <title></title>
  </head>
  <body>
    <h1>/h1>
  </body>
</html>
